<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>

    <title>Fan Dashboard</title>
</head>
<body style="background-color: #6CABDD">
    <div class="container">
        <img id="team-logo" src="/assets/logo.png">
    </div>
    
    <div id="main-cont" class="container">
        <!--Live Match Updates Goes Here (Input Loaded)--> 
        <div id="updates"> 
            <div id="updates-cont">
            </div> 
        </div>
        <div id="team-data">
            <!--Buttons to Choose Competition (Functional)--> 
            <div id="btns" class="btn-group">
                <a href="#" class="btn btn-outline-dark" aria-current="page" id="pl-button">Premier League</a>
                <a href="#" class="btn btn-outline-dark" aria-current="page" id="ucl-button">Champions League</a>
            </div>
            <!--Top Scorer Stats (Input Loaded)-->
            <div id="top-scorer" class="card border-dark mb-3" style="max-width: 400px;">
                <div class="row g-0">
                    <div class="col-sm-6">
                        <img src="/assets/unselected.png" id="top-scorer-img" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-sm-6">
                        <div class="card-body">
                            <h5 id="player-name" class="card-title">Team Top Scorer</h5>
                            <p id="goals"></p>
                            <p id="pens"></p>
                            <p id="non-pens"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Team Details (Input Loaded)-->
            <div id="team-details" class="border-dark mb-3" style="max-width: 400px;">
                <h3 class="text-center">Squad Details</h3>
                <table id="squad-table" class="table table-hover w-100">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th colspan="2">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Nationality</th>
                        </tr>
                    </thead>
                    <tbody id="squad-details">
                    </tbody>
                </table>
            </div>
            <!--PL & UCL Standings (Input Loaded)-->
            <div id="standings" class="card border-dark mb-3" style="max-width: 400px;">
                <div class="row g-0">
                    <div class="card-header">
                        <button id="close-btn" type="button" class="btn-close ml-auto" aria-label="Close"></button>
                        <strong>Standings:</strong>
                    </div>
                    <div id="team-standings" class="card-body">
                    </div>
                </div>
            </div>
            <!--Upcoming Fixtures for PL/CL (Input Loaded)-->
            <div id="upcoming-fixtures" class="card border-dark mb-3" style="max-width: 400px;">
                <div class="row g-0">
                    <div class="card-header">
                        <button id="cls-btn" type="button" class="btn-close ml-auto" aria-label="Close"></button>
                        <strong>Upcoming Fixtures:</strong> 
                    </div>
                    <div id="matches" class="card-body">
                    </div>
                </div>
            </div>
            <!--Highlights (Data Not Loaded)-->
            <div id="highlights-container" class="container">
                <h2 id="text-color" class="text-center text-white">Latest Manchester City Highlights</h2>
                <div class="row" id="video-container"></div> <!-- JS will insert videos here -->
            </div>

        </div>
        

    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>